In [ ]:
1.Explain the Dataset
2.Check the summary satistics and discuss the max,min,avg,median and percentiles
3.The manger wants to find out whether the same amount was spent for the three advertisements(TV,Radio and newspaper).
Comment on your findings

In [1]:
import pandas as pd
from scipy import stats

In [3]:
ds = pd.read_csv('Advertising.csv')
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [ ]:
The given dataset consists of advertisement expenses on three different medias(TV,Radio and Newspaper) 
and the sales for the period.
There are 200 rows of data.
There is no null values in the dataset

In [6]:
ds.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

# 2.Check the summary satistics and discuss the max,min,avg,median and percentiles

In [ ]:
The dataset consists of 200 rows.
Overall mean is 100.50 , TV ad it is 147.04, Radio 23.26,Newspaper 30.22 
Maximum amount spent is on TV advertisement and minimum is on Radio
The median is 149.75 for TV, 22.9 Radio and 25.75 for Newspaper advertisement.
75% of the expense on TV lies below 218.825 , Radio 36.525 and Newspaper 45.10

# 3.The manger wants to find out whether the same amount was spent for the three advertisements(TV,Radio and newspaper).Comment on your findings

In [8]:
F,p=stats.f_oneway(ds['TV'],ds['Radio'],ds['Newspaper'])
F,p

(358.8514595342597, 4.552931539744962e-103)

In [ ]:
in the above oneway anova test 
null hypothesis is that the amount spent on three are same.

the test result shows that the pvalue lesser than the alpha value(0.05).
So we can reject the null hypothesis and the amount spent on three advertisements are not the same